<p style="color: green"><%= notice %></p>

<%= render @tweet %>

<div>

  <%= link_to "Voltar para tweets", tweets_path %>
  
    <%= link_to "Editar este tweet", edit_tweet_path(@tweet) %> |
    <%= button_to "Destrua agora,me arrependi", @tweet, method: :delete %>
  
</div>
