<div id="<%= dom_id produto %>">
  <p>
    <strong>Nome:</strong>
    <%= produto.nome %>
  </p>

  <p>
    <strong>Cores:</strong>
    <%= produto.cores %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= produto.price %>
  </p>

  <p>
    <strong>Disponivel:</strong>
    <%= produto.disponivel %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= produto.tipo %>
  </p>

  <p>
    <strong>Tamanho:</strong>
    <%= produto.tamanho %>
  </p>

</div>
