<div id="<%= dom_id drip %>">
  <p>
    <strong>Nome:</strong>
    <%= drip.nome %>
  </p>

  <p>
    <strong>Pants:</strong>
    <%= drip.pants %>
  </p>

  <p>
    <strong>Pricepants:</strong>
    <%= drip.pricepants %>
  </p>

  <p>
    <strong>Blusa:</strong>
    <%= drip.blusa %>
  </p>

  <p>
    <strong>Priceblusa:</strong>
    <%= drip.priceblusa %>
  </p>

  <p>
    <strong>Bone:</strong>
    <%= drip.bone %>
  </p>

  <p>
    <strong>Pricebone:</strong>
    <%= drip.pricebone %>
  </p>

</div>
