<!DOCTYPE html>
<html>
  <head>
    <title>TomateClass</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- IMPORTANDO OS CSS-->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "GlobalStyle", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "card", "data-turbo-track": "reload" %>

    <!-- IMPORTANDO OS JS-->
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <%= link_to "Tomate class", root_path, class:"navbar-brand "%>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to "Turmas", turmas_path, class: "nav-link active" %>
            </li>
            <li class="nav-item">
              <%= link_to "Tweets", tweets_path, class: "nav-link active" %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <%if user_signed_in? %>
              <li class="nav-item">
                 <%= link_to "Sair fora", destroy_user_session_path,'data-turbo-method': :delete, class: "btn btn-danger"%>
              </li>
            <%else%>
              <li class="nav-item">
                <%= link_to "Entrar", new_user_session_path, class: "btn btn-success"%>
                <%= link_to "Registrar", new_user_registration_path, class: "btn btn-info"%>
              </li>
            <%end%>
          </ul>
        </div>
      </div>
    </nav>
    <% flash.each do |name,message| %>
      <%= content_tag(:div,message,class: "alert alert-info #{name}")%>
    <%end%>
    <%= yield %>

    Rodapé
  </body>
</html>
